<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="courseracapstone.org.mutibo" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="courseracapstone.org.mutibo.MusicSvc"
            android:enabled="true" />

        <activity
            android:name="courseracapstone.org.mutibo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="courseracapstone.org.mutibo.newSet1Activity"
            android:label="@string/title_activity_new_set1"
            android:parentActivityName="courseracapstone.org.mutibo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="courseracapstone.org.mutibo.mainActivity" />
        </activity>
        <activity
            android:name="courseracapstone.org.mutibo.newSet2Activity"
            android:label="@string/title_activity_new_set2"
            android:parentActivityName="courseracapstone.org.mutibo.newSet1Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="courseracapstone.org.mutibo.newSet1Activity" />
        </activity>
        <activity
            android:name="courseracapstone.org.mutibo.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="courseracapstone.org.mutibo.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="courseracapstone.org.mutibo.mainActivity" />
        </activity>
        <activity
            android:name="courseracapstone.org.mutibo.PlayActivity"
            android:label="@string/title_activity_play"
            android:parentActivityName="courseracapstone.org.mutibo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="courseracapstone.org.mutibo.mainActivity" />
        </activity>
        <activity
            android:name="courseracapstone.org.mutibo.GameOverActivity"
            android:label="@string/title_activity_game_over" >
        </activity>
    </application>

</manifest>
